body {
}
div.drop {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}


DropdownButton {
    border-radius: 4px;
    border: none;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15);
    margin: 5px;
    color: black;

}

dropdown{
    min-width: 158px;
}

DropdownButton:hover {
    background-color: #efefef;
    border-color: #efefef;
}


.btn-primary {
    background-color: #efefef;
    color: black;
    border-radius: 4px;
    border: none;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15);
    transition: all 0.5s;
    cursor: none;
    margin: 5px;
    min-width: 158px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.btn:hover {
        background-color: #efefef;
        color: black;
        font-family: Inter;
}
.btn:focus {
        background-color: #efefef;
        color: black;
        font-family: Inter;
}
.btn:active {
    background-color: #efefef;
}
.btn.active {
        background-color: #efefef;
        color: black;
        font-family: Inter;
}

img.userImg{
    max-height: 25px;
    padding-right: 5px;
    padding-bottom: 0px;
    
}

input {
    outline-style: solid;
    outline-color: #EBE7E7;
}

div.accountClass {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
}
h6 {
    padding-right: 10px;
}

mbtn{
    justify-content: center;
    padding-left: 5px;
}

.modal-body {
    
}

.toast{
    margin: 1.5rem;
}

input.createClass{
    width: 197px;
}