div.header {
    display: flex;
    justify-content: center;
}
div .corner {
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 18px;
}
p{
line-height: 1;
}

div.changeImage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

modal {
    font-family: Inter;
}



em.nfield-spacing{
    padding-right: 5px;
}

em.passfield-spacing{
    padding-right: 31px;
}

