html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Inter;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #EBE7E7;
}
label {
    padding-right: 5pt;
    padding-bottom: 7pt;
}
nameField {
    padding-left: 47pt;
}
passInput{
    padding-left: 25pt;
}
p {
    padding-top: 10px;
    text-align: center;
}
button {
    border-radius: 4px;
    border: none;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15);
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
        opacity: 1;
        right: 0;
}
img {
    padding-bottom: 5px;
}